body{
    background-color: skyblue;
}
h1{
    color: black;
}
.box{
    box-sizing: border-box;
    /* padding-top: 40px; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

.y{ 
    box-sizing: border-box;
    padding: 20px;
    width: 30%;
    height: 90px;
    background-color: white;
    border-radius: 4px;
}

.x{
    text-align: center;
}

.btn{
    display: block;
    background-color:rgb(80, 80, 186);
    color: white;
    height: 30px;
    border: none;
    border-radius: 3px;
    width: 100%;
    font-weight: bolder;
}

.btn:hover{
    background-color: rgb(15, 15, 136);
    color: gray;
}

.button{
    width: 30%;
}

label{
    font-weight: bolder;
    font-size: 18px;
}

input{
    width: 100%;
    height: 30px;
    display: block;
    border-radius:3px ;
    border: none;
    border-bottom: 2px solid gray;
}

input:focus{
 background-color: rgb(240, 237, 243);
 border: none;
}

.result{
   font-size: 25px;
   font-weight: bold;
   color: red;
}


span{
    text-align: right;
    color: white;
}
